@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@500&display=swap');
.strategie-font
{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
}
.title-logo
{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 86px;
    line-height: 96px;
    color: #B11015;
}
.sta-texte
{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
}
.sta-texte-bold
{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
}
.sta-button
{
    width: 300px;
    height: 68px;
    border: 2px solid #B11015;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 3rem;
}
.sta-button a
{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #B11015;
}

.text-hor
{
    writing-mode: vertical-rl;
    position: absolute;
    left: 0;
    top: 130px;
    height: 100%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
}
.text-hor-border
{
    border-right: solid 1px #858282;
    z-index: -1;
}
  
.tr
{
  border: solid #B11015;
  height: 100vh;
}
